---
---
.row.parallax-container.closer
  .col.l6.offset-l3.s12
    %article.col.s10.offset-s1.album
      %h2 The Procession
      %section
        %h3 2016
        %p Moving further into the emotional, riff packed, dynamic proposal from And The Elephants first songs, this album demands your attention from start to finish in order to capture the full range of its sound and the full extent of the story behind it.
      %section.hide-on-med-and-down
        %iframe{seamless: "", src: "https://bandcamp.com/EmbeddedPlayer/album=1847244859/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/", style: "border: 0; width: 100%; height: 120px;"}
          %a{href: "http://andtheelephants.bandcamp.com/album/the-procession"} The Procession by And The Elephants
      %section.hide-on-med-and-up
        %iframe{seamless: "", src: "https://bandcamp.com/EmbeddedPlayer/album=1847244859/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/", style: "border: 0; width: 100%; height: 42px;"}
          %a{href: "http://andtheelephants.bandcamp.com/album/the-procession"} The Procession by And The Elephants
  .parallax
    %img{src: "assets/img/bg-procession.jpg"}
.row.parallax-container.closer
  .col.l6.offset-l3.s12
    %article.col.s10.offset-s1.album
      %h2 Masks
      %section
        %h3 2014
        %p "Masks" is a more intimate and direct register by And The Elephants, reflecting the process of their early years and closing the first cycle of composition by the band
      %section.hide-on-med-and-down
        %iframe{seamless: "", src: "https://bandcamp.com/EmbeddedPlayer/album=1454660844/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/", style: "border: 0; width: 100%; height: 120px;"}
          %a{href: "http://andtheelephants.bandcamp.com/album/masks"} Masks by And The Elephants
      %section.hide-on-med-and-up
        %iframe{seamless: "", src: "https://bandcamp.com/EmbeddedPlayer/album=1454660844/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/", style: "border: 0; width: 100%; height: 42px;"}
          %a{href: "http://andtheelephants.bandcamp.com/album/masks"} Masks by And The Elephants
  .parallax
    %img{src: "assets/img/bg-masks.jpg"}
.row.parallax-container.closer
  .col.l6.offset-l3.s12
    %article.col.s10.offset-s1.album
      %h2 Castor, Pollux
      %section
        %h3 2012
        %p “Castor, Pollux” is an allegory on the duality present throughout And The Elephants' music and in the psyche of the characters that inhabit their compositions.
      %section.hide-on-med-and-down
        %iframe{seamless: "", src: "https://bandcamp.com/EmbeddedPlayer/album=2534787525/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/", style: "border: 0; width: 100%; height: 120px;"}
          %a{href: "http://andtheelephants.bandcamp.com/album/castor-pollux"} Castor, Pollux by And The Elephants
      %section.hide-on-med-and-up
        %iframe{seamless: "", src: "https://bandcamp.com/EmbeddedPlayer/album=2534787525/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/", style: "border: 0; width: 100%; height: 42px;"}
          %a{href: "http://andtheelephants.bandcamp.com/album/castor-pollux"} Castor, Pollux by And The Elephants
  .parallax
    %img{src: "assets/img/bg-castor-pollux.jpg"}
