!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %link{href: "https://fonts.googleapis.com/icon?family=Material+Icons%7CDroid+Serif%7CLato:300,400%7CEB+Garamond", rel: "stylesheet"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    {% asset style-main.css %}
    {% seo %}
    {% favicon %}
  %body
    %nav.nav-center.white
      .black-text.nav-wrapper
        %ul#nav-mobile.hide-on-med-and-down
          %li
            %a{href: '/'} Music
    %header
      %h1 And The Elephants
    %main
      {{ content }}
    %footer.page-footer.white
      .container
        .row
          .col.s12
            %ul.col.s4.offset-s4.left.valign-wrapper
              %li.left.col.s3
                %a{href: "https://www.facebook.com/andtheelephants"}
                  %img.responsive-img.to-black-invert(alt='Facebook Page' src='{% asset facebook-icon.png @path %}')
              %li.col.s3.left
                %a{href: "https://www.instagram.com/andtheelephants/"}
                  %img.responsive-img(alt='Instagram Page' src='{% asset instagram-icon.png @path %}')
              %li.col.s3.left
                %a{href: "https://twitter.com/AndTheElephants"}
                  %img.responsive-img.to-black-invert(alt='Twitter Page' src='{% asset twitter-icon.png @path %}')
              %li.col.s3.left
                %a{href: "https://www.youtube.com/channel/UCijafLtIiZUJXXMekl40-mw"}
                  %img.responsive-img.to-black(alt='Youtube Channel' src='{% asset youtube-icon.png @path %}')
      .footer-copyright.center-align.white.grey-text.text-lighten-1.small
        .container
          © 2018 And The Elephants
    {% asset materialize/bin/materialize.js %}
    {% asset script-main.js %}
