---
---
$font-droid-serif: 'Droid Serif', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-eb-garamond: 'EB Garamond', serif;

.closer {
  margin-bottom: 0;
}

article.album {
  background-color: rgba(255, 255, 254, 0.9);
  margin-top: 5rem;
  padding-bottom: 2rem !important;
  padding-left: 5rem !important;
  padding-right: 5rem !important;
  h2, h3 {
    font-family: $font-lato;
    font-weight: lighter;
    font-size: 1.7rem;
    letter-spacing: 0.4rem;
    text-align: center;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-family: $font-eb-garamond;
    text-align: center;
  }
}

nav {
  font-family: $font-droid-serif;
  text-transform: uppercase;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
    color: black;
    :hover {
      color: grey;
    }
}

footer {
  img.to-black{
    filter: saturate(0%) brightness(70%) contrast(1000%);
  }

  img.to-black-invert {
    filter: saturate(0%) brightness(70%) contrast(1000%) invert(100%);
  }
}
