---
title: Castor, Pollux
background: bg-castor-pollux.svg
categories: [releases]
---
%p "Castor, Pollux" is an allegory on the duality present throughout And The Elephants' music and in the psyche of the characters that inhabit their compositions.
%iframe{src: 'https://bandcamp.com/EmbeddedPlayer/album=2534787525/size=small/bgcol=000000/linkcol=0687f5/transparent=true/'}
