---
title: Masks
background: bg-masks.jpg
categories: [releases]
---
%p "Masks" is a more intimate and direct register by And The Elephants, reflecting the process of their early years and closing the first cycle of composing by the band.
%iframe.basecamp-slim{src: 'https://bandcamp.com/EmbeddedPlayer/album=1454660844/size=small/bgcol=333333/linkcol=ffffff/transparent=true/', seamless: true}
