---
title: The Procession
background: bg-procession.jpg
categories: [releases]
---
%p Moving further into the emotional, riff-packed, and dynamic proposal from And The Elephants' first songs, "The Procession" demands your attention from start to finish to capture the full range of its sound and the full extent of the story behind it.
%iframe.basecamp-slim{src: 'https://bandcamp.com/EmbeddedPlayer/album=1847244859/size=small/bgcol=333333/linkcol=ffffff/transparent=true/', seamless: true}
