---
layout: main
title: Sansara
categories: [home, video]
---
.video-container
  %iframe(src='https://www.youtube.com/embed/rXTjad2gHpQ?rel=0&amp;controls=0&amp;showinfo=0' width='560' height='315' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen='')
