---
layout: main
title: Music
active: music
---
.row.parallax-container.closer
  .col.l8.offset-l2.s12
    %article.album.col.s12.l10.offset-l1
      %h2.col.s12 The Procession
      %p.year.col.s12 2016
      %p.description.col.s12 Moving further into the emotional, riff-packed, and dynamic proposal from And The Elephants's first songs, this album demands your attention from start to finish in order to capture the full range of its sound and the full extent of the story behind it.
      .player.col.xl6.offset-xl3.l8.offset-l2.m10.offset-m1.s12
        %iframe{src: 'https://bandcamp.com/EmbeddedPlayer/album=1847244859/size=small/bgcol=000000/linkcol=0687f5/transparent=true/', seamless: '', frameborder: 0, width: '100%', height: '42px'}
          %a{href: 'http://andtheelephants.bandcamp.com/album/the-procession'} The Procession by And The Elephants
  .parallax
    {% asset bg-procession.jpg %}
.row.parallax-container.closer
  .col.l8.offset-l2.s12
    %article.album.col.s12.l10.offset-l1
      %h2.col.s12 Masks
      %p.year.col.s12 2014
      %p.description.col.s12 A more intimate and direct register by And The Elephants, reflecting the process of their early years and closing the first cycle of the composition by the band.
      .player.col.xl6.offset-xl3.l8.offset-l2.m10.offset-m1.s12
        %iframe{src: 'https://bandcamp.com/EmbeddedPlayer/album=1454660844/size=small/bgcol=000000/linkcol=0687f5/transparent=true/', seamless: '', frameborder: 0, width: '100%', height: '42px'}
          %a{href: "http://andtheelephants.bandcamp.com/album/masks"} Masks by And The Elephants
  .parallax
    {% asset bg-masks.jpg %}
.row.parallax-container.closer
  .col.l8.offset-l2.s12
    %article.album.col.s12.l10.offset-l1
      %h2 Castor, Pollux
      %p.year.col.s12 2012
      %p.description.col.s12 Castor, Pollux is an allegory on the duality present throughout And The Elephants' music and in the psyche of the characters that inhabit their compositions.
      .player.col.xl6.offset-xl3.l8.offset-l2.m10.offset-m1.s12
        %iframe{src: 'https://bandcamp.com/EmbeddedPlayer/album=2534787525/size=small/bgcol=000000/linkcol=0687f5/transparent=true/', seamless: '', frameborder: 0, width: '100%', height: '42px'}
          %a{href: "http://andtheelephants.bandcamp.com/album/castor-pollux"} Castor, Pollux by And The Elephants
  .parallax
    {% asset bg-castor-pollux.svg %}
