---
layout: main
title: Releases
---
%header
  %h2 {{ page.title }}
.releases
  {% for post in site.categories.releases %}
  .release
    .post
      %header
        %h3 {{ post.title }}
        %p.year {{ post.date | date: '%Y' }}
      {{ post.content }}
    .parallax
      {% img '{{ post.background }}' %}
  {% endfor %}
