---
layout: main
title: Releases
---
%header.page-header
  %h2 {{ page.title }}
.posts.releases
  {% for post in site.categories.releases %}
  %article.post.release.jarallax
    {% img '{{ post.background }}' class:jarallax-img %}
    .post-content
      %header.post-header
        %h3 {{ post.title }}
      %time {{ post.date | date: '%Y' }}
      {{ post.content }}
  {% endfor %}
